@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h3{
    text-align: center;
    font-size: 3rem;
}

p{
    color: white;
    font-size: 1.5rem;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-one{
    background: salmon;
    opacity: 0.9;
}

.player-two{
    background: lightseagreen;
    opacity: 0.9;
}

.player-one,
.player-two{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

img{
    height: 100px;
    opacity: 0.5;
}

.rock:hover,
.paper:hover,
.scissors:hover
{
    transition: 0.3s;
    opacity: 1;
}

.select{
    transition: 1s;
    opacity: 1;
}